.card img {
  width: 400px;
  padding: 30px;
  margin: auto;
}
.cate {
  font-weight: bold;
}

.womCate {
  color: #e16385;
}
.menCate {
  color: #269657;
}

.jewCate {
  color: #ec8c00;
}

.eleCate {
  color: #235378;
}
